

.container{
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;

}

.title{
  text-align: center;
  color: #16a34a;
  font-size: 28px;
  margin-bottom: 5px;
}

.subtitle{
  text-align: center;
  color: #000000;
  font-size: 14px;
  margin-bottom: 30px;
}

.cards{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cards .item{
  flex: 1;
  border:  0.1px solid rgb(230, 229, 229);
  border-radius: 3%;
  box-shadow: 0px 2px 6px rgb(211, 209, 209);
  padding: 20px;
}

.cards div h2{
  font-size: 18px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 8px;

}
.cards input, .cards text{
  width: 95%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid grey;
  border-radius: 6px;
  font-size: 14px;
}

.add{
  flex: 1;
  
}

.link-generator {
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.link-generator h2 {
  color: #22c55e;
  text-align: center;
  margin-bottom: 16px;
}


.input-number {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}


.message-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  min-height: 80px;
  margin-bottom: 10px;
}

.btn-generate {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-generate:hover {
  background: #16a34a;
}


.link-output {
  margin-top: 15px;
}

.link-output input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  margin-bottom: 8px;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.btn-group button,
.btn-group a {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.btn-group button {
  background: #e5e7eb;
}

.btn-group button:hover {
  background: #d1d5db;
}

.btn-group a {
  background: #22c55e;
  color: white;
  text-decoration: none;
}

.btn-group a:hover {
  background: #16a34a;
}


